### Import

In [5]:
import pandas as pd
df = pd.read_csv("../data/healthcare-dataset-stroke-data.csv")

In [6]:
from stroke_prediction_packages import train

train.make_model_train(df)

ModuleNotFoundError: No module named 'stroke_prediction_packages'

In [7]:
from stroke_prediction_packages import test

ModuleNotFoundError: No module named 'stroke_prediction_packages'

In [8]:
df_test = pd.read_csv("../data/stroke_dummy_test.csv")

In [9]:
a = {"0": {"id": 72231, "gender": "Female", "age": 47.0, "hypertension": 0, "heart_disease": 0, "ever_married": "Yes", "work_type": "Self employed", "Residence_type": "Rural", "avg_glucose_level": 195.61, "bmi": 0, "smoking_status": "never smoked", "result": 0}, "1": {"id": 56804, "gender": "Female", "age": 34.0, "hypertension": 0, "heart_disease": 0, "ever_married": "No", "work_type": "Govt job", "Residence_type": "Urban", "avg_glucose_level": 60.36, "bmi": 24.1, "smoking_status": "never smoked", "result": 0}, "2": {"id": 66174, "gender": "Male", "age": 46.0, "hypertension": 0, "heart_disease": 0, "ever_married": "Yes", "work_type": "Self employed", "Residence_type": "Rural", "avg_glucose_level": 88.19, "bmi": 29.3, "smoking_status": "formerly smoked", "result": 0}, "3": {"id": 53636, "gender": "Female", "age": 11.0, "hypertension": 0, "heart_disease": 0, "ever_married": "No", "work_type": "Children", "Residence_type": "Urban", "avg_glucose_level": 88.79, "bmi": 21.3, "smoking_status": "never smoked", "result": 0}, "4": {"id": 34356, "gender": "Female", "age": 75.0, "hypertension": 0, "heart_disease": 0, "ever_married": "Yes", "work_type": "Private", "Residence_type": "Rural", "avg_glucose_level": 108.72, "bmi": 29.2, "smoking_status": "formerly smoked", "result": 0}, "5": {"id": 55244, "gender": "Male", "age": 40.0, "hypertension": 0, "heart_disease": 0, "ever_married": "Yes", "work_type": "Self employed", "Residence_type": "Rural", "avg_glucose_level": 65.29, "bmi": 28.3, "smoking_status": "never smoked", "result": 0}}

In [10]:
import pandas as pd
pd.DataFrame.from_dict(a, orient ='index')

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,result
0,72231,Female,47.0,0,0,Yes,Self employed,Rural,195.61,0.0,never smoked,0
1,56804,Female,34.0,0,0,No,Govt job,Urban,60.36,24.1,never smoked,0
2,66174,Male,46.0,0,0,Yes,Self employed,Rural,88.19,29.3,formerly smoked,0
3,53636,Female,11.0,0,0,No,Children,Urban,88.79,21.3,never smoked,0
4,34356,Female,75.0,0,0,Yes,Private,Rural,108.72,29.2,formerly smoked,0
5,55244,Male,40.0,0,0,Yes,Self employed,Rural,65.29,28.3,never smoked,0