### Import

In [2]:
import pandas as pd
df = pd.read_csv("../data/healthcare-dataset-stroke-data.csv")
df_t=pd.read_csv("../data/stroke_prediction_test.csv")
df_t.columns

Index(['id', 'firstname', ' lastname', ' dob', 'gender', 'age', 'hypertension',
       'heart_disease', 'ever_married', 'work_type', 'Residence_type',
       'avg_glucose_level', 'bmi', 'smoking_status'],
      dtype='object')

In [3]:
from stroke_prediction import train

train.make_model(df)

0.8329297820823245

In [4]:
from stroke_prediction import inference
import numpy as np

In [5]:
np.where(inference.make_prediction(df_t)==1)

(array([  12,   23,   24,   35,   44,   46,   72,   81,  104,  111,  143,
         161,  162,  165,  182,  206,  209,  224,  234,  276,  296,  321,
         329,  332,  345,  351,  360,  374,  416,  445,  452,  482,  491,
         503,  507,  516,  519,  524,  549,  555,  556,  579,  586,  589,
         602,  612,  614,  621,  634,  637,  652,  670,  698,  716,  729,
         732,  757,  761,  772,  778,  784,  786,  790,  797,  800,  805,
         821,  835,  837,  881,  888,  890,  891,  894,  906,  911,  921,
        1002, 1010, 1033, 1048, 1054, 1079, 1122, 1174, 1186, 1194, 1196,
        1208, 1219, 1247, 1249, 1263, 1294, 1339, 1365, 1374, 1377, 1378,
        1382, 1386, 1402, 1408, 1417, 1431, 1469, 1473, 1476, 1486, 1505,
        1511, 1513, 1532, 1539, 1551, 1562, 1573, 1580, 1615, 1639, 1671,
        1679, 1681], dtype=int64),)

In [6]:
df_t["stroke"]=inference.make_prediction(df_t)

In [7]:
df_t["stroke"].value_counts()

0    1564
1     123
Name: stroke, dtype: int64

In [8]:
df_t.sort_values("stroke",ascending=False)

,id,firstname,lastname,dob,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1249,46670,Matthew,Gray,7/25/1957,Female,75.0,1,0,Yes,Self-employed,Rural,197.06,26.1,never smoked,1
351,42550,Mattie,Greer,11/8/1966,Female,81.0,0,0,Yes,Self-employed,Rural,246.34,21.1,never smoked,1
143,10416,Irene,Barker,11/5/1969,Male,71.0,0,1,Yes,Private,Urban,215.72,39.2,smokes,1
1551,19824,Isaiah,Sanders,8/26/1961,Male,76.0,1,0,Yes,Private,Rural,243.58,33.6,never smoked,1
360,68721,Carolyn,Sparks,7/5/1961,Female,78.0,0,0,Yes,Private,Rural,133.13,24.2,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,37029,Isabelle,Hughes,11/7/1979,Male,5.0,0,0,No,children,Rural,97.64,17.0,Unknown,0
576,72882,Adele,Houston,8/16/1974,Male,47.0,0,0,Yes,Private,Rural,75.30,25.0,formerly smoked,0
575,49521,Wesley,Payne,2/28/1978,Female,33.0,0,0,Yes,Private,Urban,121.04,31.4,Unknown,0
574,21042,Emily,Sanchez,7/15/1964,Female,72.0,0,0,Yes,Self-employed,Rural,103.25,26.9,formerly smoked,0
1686,56233,Jesse,Leonard,3/26/1985,Female,44.0,0,0,No,Private,Rural,116.95,26.1,never smoked,0

In [10]:
df_t["hypertension"].unique()

array([0, 1], dtype=int64)